[submodule "pack/plugins/start/vim-fugitive"]
	path = pack/plugins/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "pack/plugins/start/vim-airline"]
	path = pack/plugins/start/vim-airline
    url = https://github.com/bling/vim-airline
[submodule "pack/plugins/start/vim-scala"]
	path = pack/plugins/start/vim-scala
	url = https://github.com/derekwyatt/vim-scala
[submodule "pack/plugins/start/YouCompleteMe"]
	path = pack/plugins/start/YouCompleteMe
	url = git@github.com:Valloric/YouCompleteMe.git
[submodule "pack/plugins/start/typescript-vim"]
	path = pack/plugins/start/typescript-vim
	url = git@github.com:leafgarland/typescript-vim.git
